<div class="container">
  <h1>Catálogo Munay & Sukha</h1>

  <div *ngIf="productos.length === 0 && !errorMensaje" class="loading">
    <p>Cargando productos...</p>
  </div>

  <div *ngIf="errorMensaje" class="error">
    {{ errorMensaje }}
  </div>

  <div class="product-grid" *ngIf="productos.length > 0">
    <div class="card" *ngFor="let p of productos">
      <div class="card-img">
        <img [src]="p.urlImagen" [alt]="p.nombre" onerror="this.src='https://via.placeholder.com/150'">
      </div>

      <div class="card-body">
        <h3>{{ p.nombre }}</h3>
        <p class="desc">{{ p.descripcion }}</p>
        <div class="row">
          <span class="price">S/. {{ p.precio }}</span>
          <span class="stock" *ngIf="p.stock > 0">Stock: {{ p.stock }}</span>
          <span class="no-stock" *ngIf="p.stock === 0">Agotado</span>
        </div>

        <button class="btn-add" [disabled]="p.stock === 0" (click)="agregarAlCarrito(p)"> Agregar al Carrito
        </button>
      </div>
    </div>
  </div>
</div>